*{
  background-color: #f4f4f4;
  color: #333;
  padding: 0px;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 12px;
  user-select: none;
}

/* @media screen and (max-width: 900px){
  h3 {
    color: red;
  }
} */